NODE_ENV=development

DATABASE_URL=postgresql://USUARIO:SENHA@localhost:5432/alerta_doc?schema=public

# Usado pelo docker-compose (hostnames postgres/rabbitmq na rede da API)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=alerta_doc

RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_PORT=5672
RABBITMQ_URL=amqp://USUARIO:SENHA@localhost:5672

CRON_CHECK_EXPIRING=0 8 * * *
TZ=America/Sao_Paulo

RUN_ON_STARTUP=true
JOB_MAX_RETRIES=3
